.navbarTransparent {
  background-color: transparent !important;
  padding: 1rem;
}

.transparentNavbarMenu {
  background-color: transparent !important;
}
.burgerWhite span {
  background-color: white !important;
}